// @import 'bootstrap';
@charset "utf-8";
@import 'jquery.fullPage.css';
@import url(http://fonts.googleapis.com/css?family=Raleway:100,300,700|Monda:700);

.top-right {
  position: fixed;
  top: 0px;
  left: 10px;
  z-index: 1000;
  .logo {
    display: inline-block;
    font-family: Monda;
    font-weight: 700;
    color: #333;
    font-size: 1.3rem;
    text-decoration: none;
    position: relative;;
    top: 1px;
  }
  .center {
    display: inline-block;
  }
}

.section {
  h1 {
    text-align: center;
    font-family: Raleway;
    font-weight: 100;
    font-size: 5rem;
    margin: 0;
  }
  h2 {
    text-align: center;
    font-family: Raleway;
    font-weight: 300;
    font-size: 2rem;
    margin: 0;
  }
}

#one {
  background: url('/images/s4.jpg') center center fixed no-repeat;
  background-size: cover;
  background-color: #333;
  h1, h2 {
    color: rgba(255,255,255,0.99);
  }
}

.btn {
  border: 1px solid rgba(0,0,0,0.0);
  border-top: none;
  border-left: none;
  border-right: none;
  background: none;
  color: rgba(0,0,0,0.9);
  font-family: Raleway;
  font-weight: 300;
  padding: 0.2rem 0.4rem;
  font-size: 1.1rem;
  margin-left: 6px;
  transition: all 1s;
  text-decoration: none;
}

.btn.active {
  border: 1px solid rgba(0,0,0,0.8);
  border-top: none;
  border-left: none;
  border-right: none;
}

.center {
  text-align: center;
}

.service h2 {
  font-weight: 700;
  font-size: 3rem;
  padding-bottom: 3px;
  // border-bottom: 2px solid #333;
}

.service {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 55px;
  h1, h2 {
    text-align: left !important;
  }
  p {
    font-family: Raleway;
    font-size: 2rem;
    margin-top: 5px;
  }
}

.contact {
  background: rgba(255,255,255,0.9);
  border: 1px solid #fff;
  padding: 15px;
  border-radius: 8px;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  h2 {
    font-weight: 700;
    text-align: left;
  }
  p {
    font-family: Raleway;
    font-size: 1.1rem;
  }
}

#three {
  background: url('/images/s3.jpg') center center fixed no-repeat;
  background-size: cover;
}
