---
title: JAXONS
---
.top-right#menu
  %a.logo{"data-menuanchor" => 'home', href: '#home' } JAXONS
  %a.btn{ "data-menuanchor" => 'detachering', href: '#detachering' }
    diensten
  %a.btn{ "data-menuanchor" => 'contact', href: '#contact' }
    contact

#fullpage
  .section#one
    %h1 Detachering
    %h2 Financiële en Juridische Dienstverlening

  .section
    .service
      %h2 Dienstverlening
      %p Wij bieden financiële en juridische dienstverlening tegen zeer scherpe tarieven. Onze professionals beschikken over kennis en ervaring zodat onze dienstverlening altijd van hoogwaardige kwaliteit is.
    .service
      %h2 Detachering
      %p
        Wij bieden projectmatige ondersteuning door junior juristen en financials met quality governance door onze professionals.
      %p
        Onze juniors doen werkervaring op en u profiteert van onze scherpe tarieven. Waarbij kwaliteit wordt gewaarborgd.

  .section#three
    .contact
      %h2 info@jaxons.nl
      %p
        financieel: 0650204204
        %br
        juridisch: 0653216547
      %p
        Badhuisweg 1
        %br
        1506 PA Zaandam
        %br
        Noord-Holland, Nederland
      %p
        KvK: 58688781
        %br
        BTW: 85314022B01
        %br
        ING: IBAN NL27 INGB 0006 125375

%h4#test this should be invisible.
